.spinner-container{
    height: 100vh !important;
}
i{
    font-size: 35px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;   
}
.pagination{
    display: flex;
    justify-content: center;
    padding: 15px 0;
    list-style: none;
    padding-top: 50px;
}
.pagination a{
    padding: 5px 12px;
    margin: 0px 2px;
}
.pagination_link{
    font-weight: bold;
    color: #08A045;
    text-decoration: none;
}
.pagination_link:hover{
    color: #08A045 !important;
}
.pagination_link_active a{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(171, 178, 151);
}
.pagination_link_disabled a{
    color: rgb(190, 188, 188) !important;
} 